* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lemonchiffon;
}

.accordion {
    margin: 0 auto;
    width: 600px;
    height: auto;
    font-family: Arial;
    color: black;
}

.accordion-item {
    width: auto;
    background-color: burlywood;
}

.accordion-item:hover {
    cursor: pointer;
}


h2 {
    margin: 1px 5px;
    color: #000;
    font-size: 20px;
}


.accordion-body {
    height: 0;
    width: auto;
    margin: 5px 5px;
}



.hide {
    display: none;
}

.show {
    display: block;
    height: auto;
    transition: height 2s linear;
}




