* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.accordion {
    height: 30px;
    width: inherit;
    text-align: left;
    padding: 5px 5px;
    border: none;
}

.accordion:after {
    position: absolute;
    content: '\002B';
    font-weight: bold;
    font-size: 20px;
    right: 5px;

}

.active, .accordion:hover {
    background-color: gray;
}

.active:after {
    content: '\2212';
}


.text {
    max-height: 0;
    overflow: hidden;
    transition: .6s linear;
    background-color: lightgray;

}

p {
    margin: 7px 7px;
}


/*body {*/
/*    background-color: lemonchiffon;*/
/*}*/

/*.accordion {*/
/*    margin: 0 auto;*/
/*    width: 600px;*/
/*    color: black;*/
/*}*/

/*.accordion-item {*/
/*    width: auto;*/
/*    background-color: burlywood;*/
/*}*/

/*.accordion-item:hover {*/
/*    cursor: pointer;*/
/*}*/


/*h2 {*/
/*    margin: 1px 5px;*/
/*    color: #000;*/
/*    font-size: 20px;*/
/*}*/


/*.accordion-body {*/
/*    height: 0;*/
/*    width: auto;*/
/*    margin: 5px 5px;*/
/*    transition: height 1s linear;*/
/*}*/



/*.hide {*/
/*    display: none;*/
/*}*/

/*.show {*/
/*    display: block;*/
/*}*/





